<div class="modal-content">
    <form id="change-password" class="border">
        <input type="password" name="passwords[old_password]" placeholder="Current Password">
        <input type="password" name="passwords[new_confirmation]" placeholder="New Password">
        <footer class="modal-footer">
            <input type="submit" value="Change Password">
        </footer>
    </form>
</div>