<div class="modal-content">
    <div class="modal-header">
        <span id="closeSignUpBtn">&times;</span>
        <h2>Sign Up</h2>
    </div>
    <div class="modal-body">
        <form id="sign-up-form" class="border">
            <input type="text" name="credentials[email]" placeholder="Email">
            <br>
            <input type="password" name="credentials[password]" placeholder="Password">
            <input type="password" name="credentials[password_confirmation]" placeholder="Confrim Password">
            <footer class="modal-footer">
                <input type="submit" value="Sign Up">
            </footer>
        </form>
    </div>