<div>
    <span id="closeSignInBtn">&times;</span>
    <h2>Sign In</h2>
    <form id="sign-in-form" class="border">
        <input type="text" name="credentials[email]" placeholder="Email">
        <br>
        <input type="password" name="credentials[password]" placeholder="Password">
        
        <input type="submit" value="Sign in">
    </form>
</div>