$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import url("https://fonts.googleapis.com/css?family=Cabin+Sketch");
@import 'modal.scss';

* {
  box-sizing: border-box;
  font-family: 'Cabin Sketch', cursive;
}

.unclickable {
  pointer-events: none;
}

.hidden-btn {
  display: none;
}

.hidden {
  display: none;
}

a {
  text-decoration: none;
  color: white;
}


ul {
  margin-top: 20px;
  padding-left: 5px;
  list-style: none;
}  

.main-container {
    display: flex;
    justify-content: center;
    align-content: center;
}


.gameboard {
  // grid-area: main;
  display: none;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 8px;
  background-image: url("../../public/img/ttt.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vh;
  width: 50vw;
}

.gameboard > div {
  font-size: 10vw;
  text-align: center;
  vertical-align: center;
}