@import url("https://fonts.googleapis.com/css?family=Cabin+Sketch");
/* @import 'modal.css'; */

* {
  box-sizing: border-box;
  font-family: 'Cabin Sketch', cursive;
}

.unclickable {
  pointer-events: none;
}

body {
  display: grid;
  grid-template-columns: .5fr 1fr .5fr;
  grid-template-rows: 1fr 1fr 1fr .5fr;
  grid-template-areas: 
  "header header header"
  "section main aside"
  "section . aside"
  "section . aside";
}

.unclickable {
  pointer-events: none;
}

header {
  grid-area: header;
  text-align: center;
}

header h1 {
  font-size: 5em;
}

main {
  grid-area: main;
  display: grid;
  grid-template-columns: repeat(3, .75fr);
  grid-template-rows: repeat(3, .75fr);
}

section {
  grid-area: section;
}

aside {
  grid-area: aside;
}