@import url("https://fonts.googleapis.com/css?family=Cabin+Sketch");
@import 'modal.css';

* {
  box-sizing: border-box;
  font-family: 'Cabin Sketch', cursive;
  color: #333333;
}

.unclickable {
  pointer-events: none;
}

.hidden {
  display: none;
}

body {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: .5fr 1fr 1fr .75fr;
  grid-template-areas: 
  "header header header header"
  "section main main aside"
  "section main main aside"
  "section . . aside";
  height: 100%;
  margin: 0;
}


header {
  grid-area: header;
  display: flex;
  background-color: #333333;
  padding: 1.5%;
  margin-bottom: 2.5%;
}

header p {
  margin: 0;
  padding: 10px;
  font-weight: 200;
  font-size: 1.5rem;
  color: white;
  /* border: 1px solid white; */
  border-radius: 4px;
}

.main {
  grid-area: main;
  display: none;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 8px;
  background-image: url('../img/ttt.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.main > div {
  font-size: 10vw;
  text-align: center;
  vertical-align: center;

}

section {
  grid-area: section;
}

aside {
  grid-area: aside;
}