@import url("https://fonts.googleapis.com/css?family=Cabin+Sketch");
/* @import 'modal.css'; */

* {
  box-sizing: border-box;
  font-family: 'Cabin Sketch', cursive;
}

.unclickable {
  pointer-events: none;
}

body {
  display: grid;
  grid-template-columns: .5fr 1fr .5fr;
  grid-template-rows: .8fr 1fr 1fr .5fr;
  grid-template-areas: 
  "header header header"
  "section main aside"
  "section main aside"
  "section . aside";
}

.unclickable {
  pointer-events: none;
}

header {
  grid-area: header;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 50vw;
}

main {
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 8px;
}

main div {
  border: 1px solid red;
}

section {
  grid-area: section;
}

aside {
  grid-area: aside;
}